@import "./settings.scss";

html, body {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Cabin', sans-serif;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
}

// misc
ul {
    padding:0px;
    margin:0px;
    li {
        display:block;
    }
}

// TINY MCE CSS
.mce-content-body {
    height:100%;
    width:100%;
    p {
        margin:0;
    }
}
.mce-content-body:focus {
    outline:none;
}

.mce-tinymce-inline {
    border-radius:10px;
    box-shadow:none !important;
    padding: 4px !important;
}

.mce-tooltip {
    display:none;
}

.mce-active {
    background:$orange !important;
    border-radius:5px;
}

.mce-btn {
    border-width:0px !important;
    padding:2px !important;
}
.mce-btn:hover {
    background:$orange !important;
    border-radius:5px;
    color:white !important;
}

// .mce-i-bold:before {
//     content: url('./assets/icons/bold.svg') !important;
// }
    