@import "./settings.scss";

html, body {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Cabin', sans-serif;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
}
code, .ql-syntax {
    border-radius:3px;
    background-color:#f8f8f8;
    border:1px solid #dddddd;
    padding:4px;
}

.ql-editor {
    height:100%;
    width:auto;
    outline:none;
    padding:20px;
    p {
        margin:0;
    }
}