// Colors
$light-blue:rgb(4, 207, 255);
$dark-blue:rgb(18, 69, 255);
$yellow:rgb(255, 177, 0);
$orange:rgb(255, 127, 0);

// Sizing
$top-bar-height:40px;
$side-bar-width:200px;

// Timing
$delay: 0.2s;