// Fonts
// @font-face {
//     font-family: 'GothamRoundedBook';
//     src: url(~@/assets/fonts/GothamRounded-Book.woff2) format('woff2');
// }

@mixin font-face($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: $src;
		font-style: $style;
		font-weight: $weight;
	}
}

// Palette
$light-blue-lighter:rgb(137, 233, 255);
$light-blue:rgb(4, 207, 255);
$light-blue-darker:rgb(0, 97, 120);

$dark-blue-lighter:rgb(148, 171, 255);
$dark-blue:rgb(18, 69, 255);
$dark-blue-darker:rgb(0, 28, 131);

$yellow-lighter:rgb(255, 218, 133);
$yellow:rgb(255, 177, 0);
$yellow-darker:rgb(194, 135, 0);

$orange-lighter:rgb(255, 194, 133);
$orange:rgb(255, 127, 0);
$orange-darker:rgb(194, 96, 0);

$white:#f8f8f8;
$light-grey: #cacaca;
$grey: #777;
$black:#333;

// Sizing
$sidebar-open: 350px;
$sidebar-closed: 70px;
$window-bar-height: 22px;

$padding:15px;

// Timing
$msDelay: 300ms;